.container{
    width: 1px;
    height: 100%;
    background-color: red;
    position: absolute;
    cursor: ew-resize;

    &::before{
        content: "";
        position: absolute;
        left: -5px;
        width: 11px;
        height: 100%;
    }
}