.dragWrapper{
    transform: translateY(-20px);
    position: absolute;
    height: 100%;
    
    .container{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(231 242 255);
        transform: translate(-50%, -50%);
        box-shadow: 0px 3px 2px rgba(0,0,0,.4);
        
        cursor: ew-resize;

        &::before{
            content: "";
            position: absolute;
            left: -10px;
            width: 20px;
            height: 100%;
        }

        
    }
    .text{
        user-select: none;
        width: fit-content;
        box-sizing: border-box;
        transform: translate(-50%, -8px);
        transition: 0.3s left;
        background-color: #2e90b7;
        color: white;
        border-radius: 3px;
        padding: 0px 10px;
        font-size: small;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        white-space: nowrap;
        border: 1px solid white;
        z-index: 999;
    }
}

