.icon{
    
    // min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 5px;
    flex-direction: column;
    cursor: pointer;
    // border-right: 3px solid transparent;
    color: white;
    flex: 1;
    transition: 0.3s background-color;
    .iconWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // padding: 10px 15px;
        
        
    }

    .title{
        font-size: clamp(9px, .5vw, .8vw);
        font-weight: 600;
        text-transform: uppercase;
    }
    .icon{
        
        font-size: clamp(25px, 1.8vw, 1.8vw);
        height: fit-content;
    }

    &.active{
        // border-right: 3px solid #5cdcf3;
        background-color:  rgba(0, 204, 255, 0.7);
        &:not(:last-child){
            border-bottom: 1px solid rgb(160, 160, 160);
        }
        // border-top: 1px solid white;
        .icon{
            color: white;

        }
        .title{
            color: white;

        }
    }

    &:hover:not(.active){
        background-color: rgba(31, 32, 32, 0.7);;
    }
}

@media only screen and (max-height: 730px) {
    .icon{
        .iconWrapper{
            padding: 8px 10px;
        }
        .icon{
            font-size: large;
        }
    }
}
