.container{
    background-color: white;
    // width: 300px;
    max-height: 80vh;
    // overflow: auto;
    position: absolute;
    z-index: 1000;
    top: 50px;
    right: 50px;
    border-radius: 10px;
    // overflow: auto;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    &.show{
        display: block;
    }


    .title{
        text-align: left;
        font-weight: 600;
        padding: 15px 10px;
        text-transform: uppercase;
    }
    
    input[type="range"] {
        // width: 200px; /* Adjust the width */
        // margin: 5px 0; /* Add some spacing */
        accent-color: #5f5f5f; /* Changes the thumb color and track fill in modern browsers */
        background-color: #007BFF; /* Custom color */
        height: 2px;
    }

    .itemWrapper{
        box-sizing: border-box;
        padding: 10px;
        // border-bottom: 1px solid #f3f3f3;
        width: 100%;
        height: fit-content;
        text-align: left;
        display: flex;
        gap: 10px;
        cursor: pointer;


        &.active{
            background-color: rgb(222, 247, 255);
            // border-left: 1px solid rgb(169, 213, 255);
        }

        .iconWrapper{
            min-width: 100px;
            
            height: 100px;
            background-color: #ececec;
            // background-color: purple;
            border-radius: 5px;
            overflow: hidden;
        }

        .descWrapper{
            flex: 1;
            display: flex;
            // gap: 1;
            flex-direction: column;
            gap: 10px;
            .desc{
                font-size: x-small;
            }

            .controlsContainer{

                background-color: white;
                padding: 5px;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

                label{
                    font-size: x-small;
                }
            }

            
        }
        
    }
}