.container{
    background-color: white;
    // width: 300px;
    max-height: 80vh;
    // overflow: auto;
    position: absolute;
    z-index: 1000;
    top: 50px;
    right: 50px;
    border-radius: 5px;
    // overflow: hidden;
    display: block;
    
    input[type="range"] {
        // width: 200px; /* Adjust the width */
        // margin: 5px 0; /* Add some spacing */
        accent-color: #5f5f5f; /* Changes the thumb color and track fill in modern browsers */
        background-color: #007BFF; /* Custom color */
        height: 2px;
    }

    .itemWrapper{
        box-sizing: border-box;
        padding: 10px;
        border-bottom: 1px solid #e4e4e4;
        width: 100%;
        height: fit-content;
        text-align: left;
        display: flex;
        gap: 10px;
        cursor: pointer;


        &.active{
            background-color: rgb(235, 252, 255);
            // border-left: 1px solid rgb(169, 213, 255);
        }

        .iconWrapper{
            min-width: 100px;
            
            height: 100px;
            background-color: #ececec;
            // background-color: purple;
            border-radius: 5px;
            overflow: hidden;
        }

        .descWrapper{
            flex: 1;
            display: flex;
            // gap: 1;
            flex-direction: column;
            gap: 10px;
            .desc{
                font-size: x-small;
            }

            .controlsContainer label{
                font-size: x-small;
            }
        }
        
    }
}