.container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    backdrop-filter: blur(2px);

    .mainTitleContainer{
        font-weight: 600;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toggle{
            cursor: pointer;
            transition: 0.3s transform;
            &:hover{
                background-color: rgb(245, 245, 245);
            }
        }
    }

    .titleContainer{
        padding-bottom: 10px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            text-transform: capitalize;
            font-weight: 500;
        }

        .toggle{
            cursor: pointer;
            transition: 0.3s transform;

            &:hover{
                background-color: rgb(245, 245, 245);
            }
        }
    }

    .legendItem{
        display: flex;
        gap: 5px;
        // justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .legendColor{
            width: 10px !important;
            height: 10px !important;
            border-radius: 10px;
        }
    }
}