.container{
    background-color: rgba(0,0,0,0.2);
    // width: 300px;
    // height: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
    &.show{
        display: flex;

        .wrapper{
            animation-name: show;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }

    }

    .wrapper{
        
        width: 90%;
        height: 80%;
        background-color: white;
        position: relative;
        border-radius: 1.0rem;
        transition: 1s all;
    }

    .body{
        padding: 3rem;
        padding-top: 0rem;
        height: 100%;
        position: relative;
    }
    .title_container{
        
        display: flex;
        justify-content: space-between;
        
        .name{
            font-size: xx-large;
        }

        .title{
            width: 100%;
            font-weight: 600;
            padding: 1.5rem;
            text-align: left;
        }

        .prefix{
            font-size: medium;
            color: gray;
        }

        .public{
            font-size: smaller;
            display: flex;
            // gap: 10px;
            align-items: center;
        }

        .fieldsWrapper{
            display: flex;
        }
    }

    .resetZoomButton{
        background-color: rgba(0,0,0,0.4);
        border-radius: 3px;
        color: white;
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: small;
        padding: 5px;
        border: none;
        transition: 0.3s all;
        &:focus{
            outline: none;
        }

        &:hover{
            background-color: rgba(0,0,0,0.5);
        }
    }
}

@keyframes show {
    0%   {transform: scale(95%); opacity: 0.8;}
    100% {transform: scale(100%); opacity: 1;}
  }

